/* Universal selector to reset default padding and margin for all elements */
* {
    padding: 0;
    margin: 0;
    user-select: none;
    /* Disables text selection for all elements */
}

/* Styling for the body element */
body {
    display: grid;
    /* Uses CSS Grid layout to align content */
    place-items: center;
    /* Centers content both horizontally and vertically */
    height: 100vh;
    /* Sets the height to 100% of the viewport height */
    background-color: rgb(27, 28, 30);
    /* Sets a dark background color */
}



/* Styling for the Time-container class */
.Time-container {
    width: auto;
    /* Automatically adjusts the width */
    height: 50px;
    
    /* Sets a fixed height */
    padding: 5px;
    /* Adds padding inside the container */
    display: flex;
    /* Uses Flexbox for layout */
    overflow: hidden;
    /* Hides content that overflows the container */
    background-color: #1e1f22;
    /* Sets the background color */
    border-radius: 5px;
    /* Rounds the corners */
    color: white;
    /* Sets the text color to white */
    font-size: 30px;
    /* Sets the font size */
    font-family: sans-serif;
    /* Sets the font family to sans-serif */
}

/* Styling for list items within the Time-container */
.Time-container li {
    list-style-type: none;
    /* Removes the default list item marker */
    height: 100%;
    /* Sets the height to fill the container */
    display: grid;
    /* Uses CSS Grid for layout */
    place-items: center;
    /* Centers content */
    padding: 0px 10px;
    /* Adds horizontal padding */
    transition-duration: 0.3s;
    /* Adds a transition effect for smooth animation */
}

/* Styling for the colon class within the Time-container */
.Time-container .colon {
    font-size: 30px;
    /* Sets the font size */
    display: grid;
    /* Uses CSS Grid for layout */
    place-items: center;
    /* Centers content */
    font-weight: 800;
    /* Makes the colon bold */
}

/* Styling for list items within the digit class */
.digit li {
    position: relative;
    height: 50px;
    /* Enables the use of positioning */
}