@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap');

/* Resets and Base Styles */
* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    user-select: none;
}

/* Full viewport height and central alignment using Flexbox */
body {
    height: 100vh;
    background: #240046;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* The main grid container for the calculator */
.calculator {
    max-width: 300px;
    background: #023e7d;
    padding: 10px;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.219);
    border-radius: 10px;
    display: grid;
    grid-template-areas:
        "display display display display"
        "ac del symbols symbols"
        "num num num symbols"
        "num num num symbols"
        "zero zero equal equal";
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto repeat(5, 1fr);
    gap: 10px;
}

/* The display area spanning across all columns */
.display {
    grid-area: display;
    background: #218380;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 10px;
    border-radius: 10px;
}

/* Default styles for all buttons */
.calculator input {
    
    border: none;
    outline: none;
    border-radius: 10px;
    font-weight: 700;
    font-size: 1.5em;
    color: white;
    cursor: pointer;
    background: #012a4a;
}

/* Styling for the AC (All Clear) button */
input.ac {
    grid-area: ac;
    background: #5f0000;
}

/* Styling for the Del (Delete) button */
input.del {
    grid-area: del;
    background: #5f0000;
}

/* Styling for symbol buttons like '/', '*', '-', '+' */
input.symbols {
    grid-area: symbols;
    background: #edae49;
}

/* Styling for the number and special buttons */
input.NumpadBtns, input.special {
    grid-area: num;
    background: #012a4a;
}

/* Special buttons that span two columns, like '0' and '00' */
input.zero {
    grid-area: zero;
    background: #248277;
}

/* Styling for the Equals button */
input.equal {
    grid-area: equal;
    background: #005f08;
}

/* Hover effect for all buttons */
input:hover {
    box-shadow: 0 0 5px 3px #00000025;
}
